{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Assignment-1</title>
</head>
<body>
	<table border= "2px" width="100%">
		<tr>
			<th colspan="6">Time Table</th>
		</tr>
		<tr>
			<th rowspan="6">Hours</th>
			<th>Mon</th>
			<th>Tue</th>
			<th>Wed</th>
			<th>Thu</th>
			<th>Fri</th>
		</tr>
		<tr>
			<th>Computer</th>
			<th>Maths</th>
			<th>Computer</th>
			<th>Maths</th>
			<th>Arts</th>
		</tr>
		<tr>
			<th>Computer</th>
			<th>Maths</th>
			<th>Computer</th>
			<th>Maths</th>
			<th>Arts</th>
		</tr>
		<tr>
			<th colspan="5">LUNCH</th>
		</tr>
		<tr>
			<th>Computer</th>
			<th>Maths</th>
			<th>Computer</th>
			<th>Maths</th>
			<th>Arts</th>
		</tr>
		<tr>
			<th>Computer</th>
			<th>Maths</th>
			<th>Computer</th>
			<th>Maths</th>
			<th>Arts</th>
		</tr>
	</table>
</body>
</html>