{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BS LOCAL METHOD</title>
	<link rel="stylesheet" href="../MDB/css/bootstrap.css">
	<link rel="stylesheet" href="../MDB/css/mdb.css">
	<style>
		.bg-light
		{
			background-color:rgb(201,215,248)!important;
		}

	</style>
</head>
<body>
	<div class="container mt-4">
		<div class="row">
			<div class="col-md-5 m-auto">
				<div class="card">
					<div class="card-header bg-primary">
						<h2 class="text-center text-white">Register Here</h2>
					</div>
                    <div class="card-body bg-light">
                        <form>
                            <div class="form-group">
                                <input type="text"placeholder="Enter username"class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text"placeholder="Enter Email"class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text"placeholder="Enter Password"class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text"placeholder="Enter Re-password"class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text"placeholder="submit"class="form-control">
                            </div>
                            <div class="form-group">
								<input type="submit" class="btn btn-primary btn-md" value="Register">
								<input type="reset" class="btn btn-primary btn-md" value="Cancel">
							</div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>