{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>css positions</title>
        <style>
            div
            {
                background: black;
                padding: 10px;
                width: 200px;
                text-align: center;
                color: blue;
                box-shadow: 0 0 10px green;
            }
            #sticky
            {
                position: sticky;
                top: 0px;
                
            }
        </style>
    </head>
<body> 
        <p>Bangalore (/ˈbæŋɡəlɔːr, ˌbæŋɡəˈlɔːr/ BANG-gə-lor, -⁠LOR), officially Bengaluru (Kannada pronunciation: [ˈbeŋgɐɭuːɾu] (listen)), is the capital and largest city of the southern Indian state of Karnataka. 
            It has a population of more than 8 million and a metropolitan population of around 11 million, making it the third most populous city and fifth most populous urban agglomeration in India, as well as second largest urban agglomeration in South India, and the 27th largest city in the world.[10] 
            Located on the Deccan Plateau, at a height of over 900 m (3,000 ft) above sea level, Bangalore has a pleasant climate throughout the year, with its parks and green spaces earning it the reputation as the "Garden City" of India.[11]
             Its elevation is the highest among the major cities of India.[12]

            The city's history dates back to around 890 CE, as found in a stone inscription found at the Nageshwara Temple in Begur, Bangalore. In 1537 CE, Kempé Gowdā, a feudal ruler under the Vijayanagara Empire, established a mud fort, considered the foundation of modern Bangalore and its oldest areas, or pétés, which still exist.
             After the fall of the Vijayanagara Empire, Kempe Gowda declared independence; in 1638, a large Adil Shahi Bijapur army defeated Kempe Gowda III, and Bangalore was came under Shahaji Bhonsle as a jagir which later became his capital. 
             The Mughals later captured Bangalore and sold it to Maharaja Devaraja Wodeyar II of the Kingdom of Mysore.[13] When Haider Ali seized control of the kingdom, the administration of Bangalore passed into his hands.
            
            The city was captured by the British East India Company after
             victory in the Fourth Anglo-Mysore War (1799), which then returned administrative control of the city, along with the kingdom, to Maharaja Krishnaraja Wadiyar III.
            The old city developed under the dominions of the maharaja. In 1809, the British shifted their cantonment to Bangalore, outside the old city, and a town grew up around it, which played as British residence in Mysore. 
            Following India's independence in 1947, Bangalore became the capital of Mysore State, and remained the capital when the state was enlarged and unified in 1956 and after the state's renaming as Karnataka in 1973. 
            The two urban settlements of Bangalore–the town and the cantonment– which had developed as independent entities merged into a single urban centre in 1949. The existing Kannada name, Bengalūru, was declared the city's official name in 2006.
            
            Bangalore is considered to be one of the fastest-growing global major metropolises.[14][15] Recent estimates of the metro economy of its urban area has ranked Bangalore as one of the most productive metro areas of India.[16][17] 
            The city is considered to be the pivot for high-technology-based heavy manufacturing industry, with numerous large multinational technology corporations setting up their headquarters in Bangalore. This metropolis is home to many top-tier engineering and research institutions. 
            Bangalore is known as the "Silicon Valley of India" because of its role as the nation's leading software exporter as well as being a major semiconductor hub.[18] Several state-owned aerospace and defence organisations are located in the city. The presence of numerous notable sporting arenas in Bangalore makes it one of the sporting hubs of the country.
            Bangalore (/ˈbæŋɡəlɔːr, ˌbæŋɡəˈlɔːr/ BANG-gə-lor, -⁠LOR), officially Bengaluru (Kannada pronunciation: [ˈbeŋgɐɭuːɾu] (listen)), is the capital and largest city of the southern Indian state of Karnataka. 
            It has a population of more than 8 million and a metropolitan population of around 11 million, making it the third most populous city and fifth most populous urban agglomeration in India, as well as second largest urban agglomeration in South India, and the 27th largest city in the world.[10] 
            Located on the Deccan Plateau, at a height of over 900 m (3,000 ft) above sea level, Bangalore has a pleasant climate throughout the year, with its parks and green spaces earning it the reputation as the "Garden City" of India.[11]
             Its elevation is the highest among the major cities of India.[12]
        <div id="sticky">
                <p>sticky</p>
        </div>
            The city's history dates back to around 890 CE, as found in a stone inscription found at the Nageshwara Temple in Begur, Bangalore. In 1537 CE, Kempé Gowdā, a feudal ruler under the Vijayanagara Empire, established a mud fort, considered the foundation of modern Bangalore and its oldest areas, or pétés, which still exist.
             After the fall of the Vijayanagara Empire, Kempe Gowda declared independence; in 1638, a large Adil Shahi Bijapur army defeated Kempe Gowda III, and Bangalore was came under Shahaji Bhonsle as a jagir which later became his capital. 
             The Mughals later captured Bangalore and sold it to Maharaja Devaraja Wodeyar II of the Kingdom of Mysore.[13] When Haider Ali seized control of the kingdom, the administration of Bangalore passed into his hands.
            
            The city was captured by the British East India Company after
             victory in the Fourth Anglo-Mysore War (1799), which then returned administrative control of the city, along with the kingdom, to Maharaja Krishnaraja Wadiyar III.
            The old city developed under the dominions of the maharaja. In 1809, the British shifted their cantonment to Bangalore, outside the old city, and a town grew up around it, which played as British residence in Mysore. 
            Following India's independence in 1947, Bangalore became the capital of Mysore State, and remained the capital when the state was enlarged and unified in 1956 and after the state's renaming as Karnataka in 1973. 
            The two urban settlements of Bangalore–the town and the cantonment– which had developed as independent entities merged into a single urban centre in 1949. The existing Kannada name, Bengalūru, was declared the city's official name in 2006.
            
            Bangalore is considered to be one of the fastest-growing global major metropolises.[14][15] Recent estimates of the metro economy of its urban area has ranked Bangalore as one of the most productive metro areas of India.[16][17] 
             The city is considered to be the pivot for high-technology-based heavy manufacturing industry, with numerous large multinational technology corporations setting up their headquarters in Bangalore. This metropolis is home to many top-tier engineering and research institutions. 
             Bangalore is known as the "Silicon Valley of India" because of its role as the nation's leading software exporter as well as being a major semiconductor hub.[18] Several state-owned aerospace and defence organisations are located in the city.
             The presence of numerous notable sporting arenas in Bangalore makes it one of the sporting hubs of the country
             Bangalore (/ˈbæŋɡəlɔːr, ˌbæŋɡəˈlɔːr/ BANG-gə-lor, -⁠LOR), officially Bengaluru (Kannada pronunciation: [ˈbeŋgɐɭuːɾu] (listen)), is the capital and largest city of the southern Indian state of Karnataka. It has a population of more than 8 million and a metropolitan population of around 11 million, making it the third most populous city and fifth most populous urban agglomeration in India, as well as second largest urban agglomeration in South India, and the 27th largest city in the world.[10] Located on the Deccan Plateau, at a height of over 900 m (3,000 ft) above sea level, Bangalore has a pleasant climate throughout the year, with its parks and green spaces earning it the reputation as the "Garden City" of India.[11]
             Its elevation is the highest among the major cities of India.[12] The city's history dates back to around 890 CE, as found in a stone inscription found at the Nageshwara Temple in Begur, Bangalore. In 1537 CE, Kempé Gowdā, a feudal ruler under the Vijayanagara Empire, established a mud fort, considered the foundation of modern Bangalore and its oldest areas, or pétés, which still exist.
             After the fall of the Vijayanagara Empire, Kempe Gowda declared independence; in 1638, a large Adil Shahi Bijapur army defeated Kempe Gowda III, and Bangalore was came under Shahaji Bhonsle as a jagir which later became his capital. The Mughals later captured Bangalore and sold it to Maharaja Devaraja Wodeyar II of the Kingdom of Mysore.[13] When Haider Ali seized control of the kingdom, the administration of Bangalore passed into his hands.
             The city was captured by the British East India Company after victory in the Fourth Anglo-Mysore War (1799), which then returned administrative control of the city, along with the kingdom, to Maharaja Krishnaraja Wadiyar III.
             The old city developed under the dominions of the maharaja. In 1809, the British shifted their cantonment to Bangalore, outside the old city, and a town grew up around it, which played as British residence in Mysore. Following India's independence in 1947, Bangalore became the capital of Mysore State, and remained the capital when the state was enlarged and unified in 1956 and after the state's renaming as Karnataka in 1973. The two urban settlements of Bangalore–the town and the cantonment– which had developed as independent entities merged into a single urban centre in 1949. The existing Kannada name, Bengalūru, was declared the city's official name in 2006. Bangalore is considered to be one of the fastest-growing global major metropolises.[14][15]
             Recent estimates of the metro economy of its urban area has ranked Bangalore as one of the most productive metro areas of India.[16][17] The city is considered to be the pivot for high-technology-based heavy manufacturing industry, with numerous large multinational technology corporations setting up their headquarters in Bangalore. This metropolis is home to many top-tier engineering and research institutions. Bangalore is known as the "Silicon Valley of India" because of its role as the nation's leading software exporter as well as being a major semiconductor hub.[18]
             Several state-owned aerospace and defence organisations are located in the city. The presence of numerous notable sporting arenas in Bangalore makes it one of the sporting hubs of the country.
             Bangalore (/ˈbæŋɡəlɔːr, ˌbæŋɡəˈlɔːr/ BANG-gə-lor, -⁠LOR), officially Bengaluru (Kannada pronunciation: [ˈbeŋgɐɭuːɾu] (listen)), is the capital and largest city of the southern Indian state of Karnataka.
             It has a population of more than 8 million and a metropolitan population of around 11 million, making it the third most populous city and fifth most populous urban agglomeration in India, as well as second largest urban agglomeration in South India, and the 27th largest city in the world.[10] Located on the Deccan Plateau, at a height of over 900 m (3,000 ft) above sea level, Bangalore has a pleasant climate throughout the year, with its parks and green spaces earning it the reputation as the "Garden City" of India.[11]
             Its elevation is the highest among the major cities of India.[12]
        </p>

</body>
</html>