{% load static %}
<!DOCTYPE html>
<html>
<body>
	<h1>Time Table</h1>
	<table border="2px solid block"callspacing="200%"cellpadding="20px" width="200px">
		<tr>
			<th>Day Period</th>
			<th>I  9:30 to 10:20</th>
			<th>II 10:20 to 11:10</th>
			<th>III 11:10 to 12:00</th>
			<th>12:00 to 12:40</th>
			<th>IV 12:40 to 1:30</th>
			<th>V 1:30 to 2:20</th>
			<th>VI 2:20 to 3:10</th>
			<th>VII 3:10 to 4:00</th>
		</tr>
		<tr>
			<th>Monday</th>
			 <td>Eng</td>
			 <td>Maths</td>
			 <td>chem</td>
			 <td rowspan ="6"> lunch</td>
			 <td colspan="3">lab</td>
			 <td>phy</td>
		</tr>
		<tr>
			<th>Thuesday</th>
			<td colspan="3">Lab</td>
			
			<td>Eng</td>
			<td>chem</td>
			<td>maths</td>
			<td>sports</td>
		</tr>
		<tr>
			<th>wednesday</th>
			<td>phy</td>
			<td>Eng</td>
			<td>chem</td>
			
			<td colspan="3">Lab</td>
			<td>math</td>
		</tr>
		<tr>
			<th>Thursday</th>
			<td colspan="3">Lab</td>
			
			<td>maths</td>
			<td>chem</td>
			<td>eng</td>
			<td>phy</td>
		</tr>
		<tr>
			<th>Friday</th>
			<td>Eng</td>
			<td>chem</td>
			<td>maths</td>
			
			<td colspan="3">seminar</td>
			<td>Sports</td>
		</tr>
	</table>
</body>
</html>
